body {

    background-image: url("css-images/background.jpg");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


.arrow {
    position: absolute;
    top: 30%;
    width: 3vmin;
    height: 3vmin;
    background: transparent;
    border-top: 1vmin solid white;
    border-right: 1vmin solid white;
    box-shadow: 0 0 0 lightgray;
    transition: all 200ms ease;
}
.arrow.left {
    -webkit-transform: translate3d(0, -50%, 0) rotate(135deg);
    transform: translate3d(0, -50%, 0) rotate(135deg);
}
.arrow:hover {
    border-color: #ff0040;
    box-shadow: 0.5vmin -0.5vmin 0 white;
}
.arrow:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-40%, -60%) rotate(90deg);
    transform: translate(-40%, -60%) rotate(90deg);
    width: 200%;
    height: 200%;
}
.ml6 {
    position: relative;
    font-weight: 900;
    /*font-size: 3.3em;*/
}

.ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.ml6 .letter {
    display: inline-block;
    line-height: 1em;
}