

#particles-js{
    height: 90%;
    background-color: black;
    background-image: url("css-images/sethu-1.jpg");
    background-size: inherit;
    background-position: 50% 54%;
    background-repeat: no-repeat;
}


.arrow {
    position: absolute;
    top: 30%;
    width: 3vmin;
    height: 3vmin;
    background: transparent;
    border-top: 1vmin solid white;
    border-right: 1vmin solid white;
    box-shadow: 0 0 0 lightgray;
    transition: all 200ms ease;
}
.arrow.left {
    -webkit-transform: translate3d(0, -50%, 0) rotate(135deg);
    transform: translate3d(0, -50%, 0) rotate(135deg);
}
.arrow:hover {
    border-color: #ff0040;
    box-shadow: 0.5vmin -0.5vmin 0 white;
}
.arrow:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-40%, -60%) rotate(90deg);
    transform: translate(-40%, -60%) rotate(90deg);
    width: 200%;
    height: 200%;
}
.ml6 {
    position: relative;
    font-weight: 900;
    /*font-size: 3.3em;*/
}

.ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.ml6 .letter {
    display: inline-block;
    line-height: 1em;
}

.mobileShow {display: none; }

/* Smartphone Portrait and Landscape */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px){
    .mobileShow {display: inline;}
}

@keyframes blink{
    0%{opacity: 0;}
    25%{opacity: .25;}
    50%{opacity: .5;}
    75%{opacity: .75;}
    100%{opacity: 1;}
}
.notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 10px solid #7f7f84;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    color: #d73814;
    animation: blink 2.5s linear infinite;
    border-radius: 2px;
}
.notice-lg {
    padding: 35px;
    font-size: large;
}
.notice-danger {
    border-color: #d73814;
}
.notice-danger>strong {
    color: #d73814;
}
